
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a routerLink="/">Home</a></li>
        <li role="presentation"><a routerLink="users">Users</a></li>
        <li role="presentation"><a routerLink="transaction">Transaction</a></li>
        <li role="presentation"><a routerLink="search">Search</a></li>
        <li class="dropdown nav navbar-nav navbar-right" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Locale<span class="caret"></span></a>
          <ul class="navbar navbar-default container-fluid navbar-header collapse navbar-collapse dropdown-menu">
            <li><a (click)="setLang('en')" style="cursor: pointer;">English</a></li>
            <li><a (click)="setLang('de')" style="cursor: pointer;">German</a></li>
            <li><a (click)="setLang('fr')" style="cursor: pointer;">French</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>